:root{
    --cor-hover: white;
}

/*Resetar todas as caracteristicas*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu{
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    gap: 16px;
    padding: 8px;
}
li{
    padding: 4px 8px;
    transition: 0.5s;
}
li:hover{
    background-color: var(--cor-hover);
}
.menu img{
    height: 20px;
}


.container{
    background-color: bisque;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 4px;
}
.container p{
    display: flex;
    justify-content: center;
    width: 200px;
    font-size: 15px;
}
.container img{
    height: 200px;
}
